<div *ngIf="showError" class="alert alert-danger">
  <h3>{{ message }}</h3>
</div>

<form [formGroup]="operationForm" (ngSubmit)="submit()">
  <div class="mb-3" *ngIf="edit">
    <label for="id">ID:</label>
    <input
            id="id" name="id"
            formControlName="id"
            readonly>
  </div>
    <div class="mb-3">
        <label for="number1">Numero 1:</label>
        <input type="number"
              [ngClass]="{
                'border border-danger': operationForm.controls.number1.invalid && !operationForm.controls.number1.pristine,
                'form-control': true
              }"
                id="number1" name="number1" placeholder="Numero 1" required
                formControlName="number1">
        <div [hidden]="operationForm.controls.number1.valid || operationForm.controls.number1.pristine"
                class="alert alert-danger">
                number1 is required
           </div>
    </div>
    <div class="mb-3">
        <label for="number2">Numero 2:</label>
        <input type="number" class="form-control" id="number2" name="number2" placeholder="Numero 2" required
        formControlName="number2">
    </div>
    <div class="mb-3">
        <label for="operation">Operacion: </label>
        <select name="operation" class="custom-select d-block w-100" id="operation" required
        formControlName="operation">
            <option [ngValue]="null">Seleccione una opcion...</option>
            <option *ngFor="let option of eOperatorEnum | keyvalue" [ngValue]="option.key">{{option.value}}</option>
          </select>
    </div>
    <div class="mb-3"  *ngIf="edit">
      <label for="result">Resultado:</label>
      <input class="form-control" id="result" name="result" placeholder="Resultado" required
      formControlName="result">
  </div>
    <hr class="mb-4">
    <button type="submit" [disabled]="operationForm.invalid" class="btn btn-primary btn-lg btn-block">Calcular</button>
</form>

<div *ngIf="showSuccess" class="alert alert-success">
  <h3>{{ message }}</h3>
</div>
